<div class="d-flex justify-content-center align-items-center pt-5">
  <div class="col-md-6">
    <div class="d-flex justify-content-start mb-4">
      <a class='btn btn-secondary' href="<%= tasks_path %>"><i class="bi bi-arrow-left"></i>&nbsp; <%= t('helpers.back') %> </a>
    </div>
    <h2 class="text-center mb-4">Tarefa #<%= @task.id%></h2>
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th><%= t('activerecord.attributes.task.status') %></th>
          <th><%= t('activerecord.attributes.task.url') %></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td><%= t("activerecord.attributes.task.statuses.#{@task.status}") %></td>
          <td><%= @task.url %></td>
        </tr>
      </tbody>
    </table>

    <h4 class="mt-5">Resultado da Tarefa</h4>
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>Marca</th>
          <th>Modelo</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%=  %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>