<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-3">
    <h2 class="text-center mb-4">Registrar</h2>
    <%= form_with url: register_path, method: :post do |f| %>
      <div class="form-group mb-4">
        <%= f.label :name, 'Nome', class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: 'Digite seu nome' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :email, 'E-mail', class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: 'Digite seu e-mail' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password, 'Senha', class: "form-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: 'Digite sua senha' %>
      </div>

      <div class="form-group d-grid gap-1">
        <%= f.submit "Registrar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>